$SChannelPath = "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL"

$Hashes = @{
    "Hashes" = @{
        "MD5" = @{
            "Enabled" = @{
                "Type"  = "DWORD";
                "Value" = 0;
            };
        };
    };
}