$SChannelPath = "HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL"

$KeyExchange = @{
    "KeyExchangeAlgorithms" = @{
        "DiffieHellman" = @{
            "ServerMinKeyBitLength" = @{
                "Type"  = "DWORD";
                "Value" = 2048;
            };
        };
    };
}